@model IEnumerable<AppBar3.Models.Pedido>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gestion de Pedidos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Pedido</a>
    <h2>Generar Reporte</h2>
    <a asp-action="GenerarReporte" class="btn btn-success">Descargar Reporte</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha Pedido
            </th>
            <th>
                Estado Pedido
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                Metodo Pago
            </th>
            <th>
                Mesa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetodoPago.ToString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdMesaNavigation.NombreMesa)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>@*  |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
